<div class ="home">
  <video class="min-vh-90 min-vw-100" playbackRate="-3" autoplay="" muted="" loop="">
    <source src="https://r3---sn-n4g-jqbed.googlevideo.com/videoplayback?expire=1606341351&ei=h36-X431HP2DxN8PqbOSsAk&ip=81.66.181.44&id=o-ANsWOEPdwNb9gkWUuSxWjgYxxizBPHWUxAIb2V9bn0Jb&itag=22&source=youtube&requiressl=yes&mh=QW&mm=31,26&mn=sn-n4g-jqbed,sn-5hne6nsy&ms=au,onr&mv=m&mvi=3&pl=19&initcwndbps=1972500&vprv=1&mime=video/mp4&ns=zTtkCPNIu2BpXtKZdyasZXsF&ratebypass=yes&dur=4.063&lmt=1606319724140217&mt=1606319334&fvip=3&beids=9466585&c=WEB&txp=6216222&n=UJ2DpQvxNMb1IMi&sparams=expire,ei,ip,id,itag,source,requiressl,vprv,mime,ns,ratebypass,dur,lmt&sig=AOq0QJ8wRAIgHqRl5TmwdJejnfVW5a4oOAMALCw8mVg7OBWvNXfis-oCIBAYJxzjFfI8t8Ao3W50j7JSaJ5AOVIEpbhnyR2azxfA&lsparams=mh,mm,mn,ms,mv,mvi,pl,initcwndbps&lsig=AG3C_xAwRQIhAI7JQdlTSVJW15umc-O6taqBk79qkrBwMmj6PGEKJHjGAiAhNwDRWSUXzt79fuO5MEOB_GKOJmDWCpXuAd03tFsR_A==" type="video/mp4">
  </video>
  <div class="card-img-overlay" my-auto>
    <div class="homebtn">
      <%= link_to "ENTER", posts_path  %>
    </div>
  </div>

</div>
